.header{
text-align: center;
}

.header :hover{
    color: cadetblue;
}

.items{
    display: flex;
    text-align: center;
}

ul,li{
    text-decoration: none;
    font-size: large;
    text-align: center;
}